@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcertTicketsMarket.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
@* ReSharper disable once Mvc.PartialViewNotResolved *@
<partial name="_StatusMessage" model="Model.StatusMessage" />
